#slider{
	padding: 0px;
	margin: 0px;
}

.footer{
	background-color: #222222;
	color: wheat;
}

.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.container-fluid{
	padding-left: 0px !important;
}
